<footer class="mdl-mega-footer">
  <section class="mdl-mega-footer__middle-section">
    <section class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Blog</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="{{ site.baseurl }}/categories">Categories</a></li>
        <li><a href="{{ site.baseurl }}/authors">Authors</a></li>
        <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
      </ul>
    </section>

    <section class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">fadeit.dk</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://fadeit.dk/en/our-work">Work</a></li>
        <li><a href="https://fadeit.dk/en/team">Team</a></li>
        <li><a href="https://fadeit.dk/en/contact">Contact</a></li>
      </ul>
    </section>

    <section class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Technologies</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://fadeit.dk/en/expertise/angularjs-development">AngularJS</a></li>
        <li><a href="https://fadeit.dk/en/expertise/python-development">Python</a></li>
        <li><a href="https://fadeit.dk/en/expertise/react-development">React</a></li>
      </ul>
    </section>

    <section class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Stay up to date</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="http://twitter.com/fadeitdk">Twitter</a></li>
        <li><a href="https://github.com/fadeit">Github</a></li>
        <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
      </ul>
    </section>
  </section>
</footer>
