<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% seo title=false %}

  {% stylesheet main %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>

  <!-- Fix https://github.com/fadeit/fadeitdk-blog/issues/19 to re-enable -->
  <!--   {% if page.path contains '_posts' %}
    <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %} -->

  <!-- Fav Icon -->
  <link href="{{ site.baseurl | prepend: site.url }}/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl | prepend: site.url }}/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl | prepend: site.url }}/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="{{ site.baseurl | prepend: site.url }}/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="{{ site.baseurl | prepend: site.url }}/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseurl | prepend: site.url }}/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl | prepend: site.url }}/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="{{ site.baseurl | prepend: site.url }}/favicon/mstile-144x144.png">
</head>
