<header class="vr__header">
  <section class="mdl-layout__header-row vr__header-row">
    <a class="mdl-layout-title vr__header__logo" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/vue.rocks-logo.png" alt="Vue.rocks logo"/>
      <p>Vue.js rocks!</p>
    </a>

    <nav class="mdl-navigation">
      <!--  <a class="mdl-navigation__link" href="{{ site.baseurl }}/categories">Categories</a>
      <a class="mdl-navigation__link" href="{{ site.baseurl }}/authors">Authors</a> -->
      <a class="mdl-navigation__link mdl-navigation__link--rss" href="{{ site.baseurl }}/feed.xml">
        <i class="material-icons">rss_feed</i>
        RSS
      </a>
    </nav>
  </section>
</header>
