/*
 * 1. Generic styles
 */
* {
  box-sizing: border-box;
}

body{
  background-color:#f8f8f8;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

/*
 * 2. Material styles
 */
.blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;

  &__posts {
    max-width: $max-col-sm;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
  }

  &.mdl-layout {
    .mdl-layout__content {
      padding-top: 60px;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }
  }

  .mdl-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 360px;
    transition: box-shadow $time $ease;
    color: inherit;
    text-decoration: none;
    font-weight: inherit;

    &:hover, &:focus{
      outline: 0;
      transition: box-shadow $time $ease;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }


    h3 {
      margin: 0;
      font-weight: 300;
    }

    &__title {
      padding: 16px;
      flex-grow: 1;

      a{
        color:inherit;
      }
    }

    &__media {
      box-sizing: border-box;
      background-size: cover;
      padding: 24px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: flex-end;
      cursor: pointer;

      a{
        color:inherit;
      }

      & ~ .mdl-card__supporting-text {
        min-height: 64px;
      }
    }

    &__supporting-text {
      width: 100%;
      padding: 16px;
      min-height: 64px;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        box-sizing: border-box;
        min-height: 76px;
      }

      strong{
        font-weight: 400;
      }
    }

    &__actions{
      &:first-child{
        margin-left: 0;
      }
    }
  }

  .meta {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;

    & > * {
      display: flex;
      flex-direction: column;
    }

    & > *:first-child {
      margin-right: 16px;
    }

    & > .meta__favorites{
      flex-direction: row;
      margin: 0 8px;
      font-size: 13px;
      font-weight: 500;
    }

    & > .meta__favorites .material-icons {
      font-size: 2em;
      cursor: pointer;
      margin-left: 12px;
    }

    &--fill{
       justify-content: space-between;
    }
  }

  .minilogo {
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 50%;
    background-color: #F5F5F5;
  }

  .author{
    color: $g1;
  }

  .date{
    font-size: 0.9em;
    color: $g5;
  }

  .pagination{
    margin:$gs*2 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;

    &__button{
      text-decoration: none;
      color: $g1;
    }
  }
}

/*
 * 3. Fadeit styles
 */
.fdt{
  &__return{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: $gs*2 $gs;

    a{
      text-decoration: none;
    }

    .mdl-button{
      margin-right:$gs/2;
    }
  }

  &__header{
    max-width: $max-col-sm;
    width: 100%;
    margin: 0 auto;
    padding: $gs 0;
  }

  &__header-row{
    padding: $gs;
    height: auto;
    width: 100%;
    flex-wrap: wrap;

    .mdl-navigation{
      margin-left:auto;
      position:relative;
      z-index: 2;

      &__link{
        &--rss{
          .material-icons{
            color: $g1;
            position:relative;
            top:-2px;
          }
        }
      }
    }
  }

  &__footer{
    margin-top: auto;
    padding-top: $gs*2;

    .mdl-mega-footer__link-list{
      width:100%;
      display:flex;
    }

    &__made{
      margin-left:auto;
    }
  }

  &__post{
    display: flex;
    justify-content: center;
    width: 100%;

    img{
      max-width: 100%;
    }

    .mdl-card__supporting-text{
      width:100%;
      padding: $gs*2;
    }

    .mdl-card__media{
      padding: 0 $gs*2;
      min-height: 200px;
      display: flex;
      flex-direction: column-reverse;
    }

    &__inner{
      max-width: $max-col-sm;
    }
  }
}

/*
 * 4. Fixes for IE 10
 */
.mdl-grid {
  display: flex !important;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}

.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
}

.blog .mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}