<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


    <script type="text/javascript">
    console.log('\n'+
        ' ███████╗ █████╗ ██████╗ ███████╗██╗████████╗\n'+
        ' ██╔════╝██╔══██╗██╔══██╗██╔════╝██║╚══██╔══╝\n'+
        ' █████╗  ███████║██║  ██║█████╗  ██║   ██║\n'+
        ' ██╔══╝  ██╔══██║██║  ██║██╔══╝  ██║   ██║\n'+
        ' ██║     ██║  ██║██████╔╝███████╗██║   ██║\n'+
        ' ╚═╝     ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝   ╚═╝\n'+
        '\n\n'+
       'Like inspecting code? Check out fadeit.dk/apply');
    </script>
  </body>
</html>
