<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include ga.html %}



    <script type="text/javascript">
    console.log('%cLike inspecting code? Check out fadeit.dk/apply', "background: #0fade1; color: white; font-size: x-large");
    </script>

    <script>
      WebFontConfig = {
        google: { families: [ 'Roboto:300,400,500,700', 'Material+Icons:400' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

  </body>
</html>