---
layout: default
---
<main class="fdt__post" itemscope itemtype="http://schema.org/BlogPosting">
  <article class="mdl-grid fdt__post__inner">
    <section class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
      <header class="mdl-card__media mdl-color-text--grey-50">
        <h3 itemprop="name headline">{{ page.title }}</h3>
      </header>

      <section class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>

          {% if page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
          {% endif %}
        </p>
      </section>

      <section class="mdl-color-text--grey-700 mdl-card__supporting-text" itemprop="articleBody">
        {{ content }}
      </section>

      {% if page.comments %}
      <footer class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
        <div id="disqus_thread"></div>
      </footer>

      <script>
          var disqus_config = function () {
            this.page.url = '{{site.url}}{{site.baseurl}}/{{ page.url }}';
            this.page.identifier = '{{page.url}}';
          };
          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = '//fadeit.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>

      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    </section>

  </article>
</main>
